html, body {
  margin: 0;
  overflow-x: hidden;
}

//Variables
$myblue: #002DDB;
$mypurple: #9487FB;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

@font-face {
  font-family: 'Annonce';
  font-weight: normal;
  font-style: normal;
  src: url("../public/assets/annonce.ttf") format('truetype');
}

.font-primary { font-family: 'Annonce', sans-serif; }
.font-secondary { font-family: 'Montserrat', sans-serif; }

#root {
  background-image: url('../public/assets/bg_mobile.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 45vh;
}

#header {
  .container-fluid { padding: 0; }

  .navbar-brand { font-size: 16px; }

  .nav-item { font-size: 18px; }

  .navbar-toggler { border: none; }
  .navbar-toggler:focus { box-shadow: none; }

  .navbar-collapse {
    height: 100% !important;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;    
    width: 100vw;
    color: white;
    background-color: $myblue;
  }

  .navbar-collapse.collapsing {
      right: -100vw;
      transition: right 300ms ease;
  }

  .navbar-collapse.show {
      right: 0;
      transition: right 300ms ease;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #header-collapsed {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #header-btns {
    display: flex;
    align-items: center;
    right: 0;
  }

  #header-btn {
    font-size: 20px;
    width: 264px;
    height: 61px;
    border: 1px $mypurple solid;
    background-color: transparent;
    border-radius: 10px;
    color: black;
  }

  #header-btn:hover {
    color: white;
    background-color: $mypurple;
  }

  .header-btn-sm {
    color: rgba($color: black, $alpha: 0.5);
    border: 1px rgba($color: black, $alpha: 0.5) solid;
    border-radius: 20px;
    background-color: transparent;

    font-weight: 500;
    font-size: 10px;
    padding: 0;
    width: 36px;
    height: 22px;
  }

  .header-btn-sm:hover {
    color: $mypurple;
  }
}

#hero {  
  height: 90vh;
  width: 100vw;
  margin-bottom: 5rem;
  
  #hero-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    #hero-title {
      font-size: 30px;
      line-height: 36px;
    }

    #hero-text {
      font-size: 18px;
    }

    #hero-btn {
      background-color: $myblue;
      border-color: $myblue;
      font-weight: 500;
      
      font-size: 18px;
      width: 100%;
      height: 78px;
    }

    #hero-btn:hover {
      background-color: white;
      border-color: $myblue;
      color: #1A1D3C;
    }
  }
}

#about {
  background-image: linear-gradient(transparent, white 10%);
  
  #about-title { 
    font-size: 23px;
  }

  .about-cards {
    text-align: center;
    background-color: white;
    padding: 4rem 3rem;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.05);

    .about-item-title {
      font-size: 20px;
    }

    .about-item-text {
      font-size: 16px;
    }
  }
}

@media (min-width: 481px) {
  #root {
    background-position: center top 25%;
  }
}

@media (min-width: 768px) {
  #root {
    background-image: url('../public/assets/bg_tablet.jpg');
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: center top 45%;
  }

  #header {
    .navbar-brand { font-size: 20px; }

    .nav-item { font-size: 18px; }

    .navbar-collapse {
      width: 50vw;
    }
  
    .navbar-collapse.collapsing {
        right: -50vw;
        transition: right 300ms ease;
    }
  
    .navbar-collapse.show {
        right: 0;
        transition: right 300ms ease;
    }

    #header-collapsed {
      height: 70vh;
    }

    #header-btn {
      font-size: 20px;
      padding: 0;
      width: 220px;
      height: 61px;
    }

    .header-btn-sm {
      font-size: 14px;
      padding: 0;
      width: 55px;
      height: 31px;
    }    
  }

  #hero {
    height: fit-content;
    margin: 8rem 0;
    margin-bottom: 17rem;

    #hero-container {
      align-items: start;

      #hero-title { 
        font-size: 50px;
        line-height: 60px;
        width: 700px;
      }

      #hero-text {
        font-size: 22px;
        width: 700px;
      }

      #hero-btn {
        font-size: 22px;
        padding: 0;
        width: 340px;
        height: 78px;
      }
    }
  }

  #about {
    background-image: linear-gradient(transparent, white 50%);

    #about-title { font-size: 40px; }

    .about-cards {
      text-align: start;
      padding: 4rem 4rem;

      .about-item-title { font-size: 30px; }
      .about-item-text { font-size: 20px; }
    }
  }
}

@media (min-width: 1200px) {
  #root {
    background-image: url('../public/assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 15vh;
  }

  #header {
    .navbar-collapse {
      display: none !important;
    }
  }

  #hero {
    display: flex;
    justify-content: center;
    margin-top: 8rem;

    #hero-container {
      width: 90%;
      align-items: center;

      #hero-title {
        width: 1080px;
      }

      #hero-text {
        width: 750px;
      }
    }
  }
}

@media (min-width: 1366px) {
  #root {
    padding-left: 2vw;
    background-size: 1920px;
    background-position: center top;
  }
  
  #header {
    .navbar-brand { font-size: 24px; }
    .nav-item { font-size: 20px; }
    
    #header-btn {
      font-size: 20px;
      padding: 0;
      width: 264px;
      height: 61px;
    }

    .header-btn-sm {
      font-size: 14px;
      padding: 0;
      width: 55px;
      height: 31px;
    }
  }

  #hero {
    margin-bottom: 30vw;
    #hero-container {      
      width: 70%;
      
      #hero-title {
        font-size: 60px;
        line-height: 72px;
        width: 1327px;
      }

      #hero-text {
        padding: 0 5rem;
        font-size: 28px;
        width: 1076px;
      }

      #hero-btn {
        margin-top: 3rem;
        font-size: 28px;
        padding: 0;
        width: 369px;
        height: 88px;
      }
    }
  }

  #about {
  
    #about-title { font-size: 60px; }
    
    .about-cards {
      .about-item-title { font-size: 30px; }
      .about-item-text { font-size: 20px; }
    }
  }
}